@import 'elementui-style.scss';

html,
body,
#app {
  height: 100%;
}

html,
body,
#app,
ul,
h1 {
  color: #ffffff;
  font-family: 'Microsoft YaHei', Arial, Helvetica, 'STHeiti STXihei', Tohoma, sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  background-color: rgb(0, 1, 28);
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei', Arial, Helvetica, 'STHeiti STXihei', Tohoma, sans-serif;
}

img {
  vertical-align: middle;
}

ul {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

li {
  list-style: none;
}

/**
项目整体布局样式
 */
.home {
  height: auto;
  position: relative;
  background-color: rgb(0, 1, 28);
  padding: 24px;

  .wrap-responsive {
    display: flex;
    flex-flow: row wrap;
    place-items: flex-start;
    margin-right: -12px;
    margin-left: -12px;

    .wrap-items {
      flex: 0 1 25%;
      max-width: 25%;
      padding: 0 12px;
      box-sizing: border-box;

      .map {
        height: 650px;
      }
    }

    .center {
      flex: 0 1 50%;
      max-width: 50%;

      .wrap-items-box {
        margin-bottom: 0 !important;
      }
    }
  }

  .wrap-items-box {
    min-height: 1px;
    background-image: url('../images/bg/wrap-box-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &:nth-child(2) {
      margin: 24px 0;
    }

    .wrap-items-box-card {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: rgba(255, 255, 255, 0.85);
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      font-feature-settings: 'tnum', 'tnum';
      position: relative;
      border-radius: 2px;

      .card-head {
        min-height: 48px;
        padding: 0 24px;
        color: rgba(255, 255, 255, 0.85);
        font-weight: 500;
        font-size: 16px;
        background: 0 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        border-radius: 2px 2px 0 0;
        align-items: center;
        text-align: left;

        .card-head-title {
          display: inline-block;
          flex: 1 1 0;
          padding: 16px 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .card-body {
        padding: 24px;
        display: flex;
        flex-flow: row wrap;
      }

      .center-card-body {
        display: flex;
        flex-flow: row wrap;

        .wrap-items-box-card {
          flex: 0 1 50%;
          max-width: 50%;
        }
      }
    }
  }
}

@media (min-width: 2000px) {
  .echartsContainer {
    height: 300px !important;
  }

  .wrap-items .map {
    height: 850px !important;
  }

  .dv-decoration-9 {
    width: 200px !important;
    height: 200px !important;
  }

  .layout-wrap-right {
    .dv-scroll-board {
      height: 300px !important;
    }
  }

  .dv-scroll-board {
    height: 400px !important;
  }

  .dv-capsule-chart {
    height: 300px !important;
    width: 300px !important;
  }

  .layout-two .map {
    height: 1256px !important;
  }
}

@media (max-width: 1980px) {
  .echartsContainer {
    height: 200px !important;
  }
}
